name: Deploy to IP

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:latest

      - name: Deploy to VPS (via SSH)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY  }}
          script: |
            # Stop and remove old container
            docker stop app || true
            docker rm app || true

            # Pull latest image
            docker pull ghcr.io/${{ github.repository }}:latest

            # Run new container (expose on public IP)
            docker run -d \
              --name app \
              --restart unless-stopped \
              -p 3000:3000 \
              ghcr.io/${{ github.repository }}:latest